{% extends 'base.html' %}

{% block title %}Scoresheet{% endblock title %}

{% block subheader %}
{% include '../subheader.html' with title="Scoresheet" %}
{% endblock %}

{% block content %}
<div class="container text-center mt-12">
    <div class="tk-objective-mk2 font-extrabold text-2xl">
      <h1>Atlanta Doubles Dart League</h1>
    </div>
    <div class="tk-objective-mk2 font-normal text-lg">
      <h2>Match Play Scoresheet</h2>
    </div>
    {% csrf_token %}
    <div class="flex flex-row gap-2">
      {% if match %}
      <div class="">
        <h3>{{ match.awayTeam }}</h3>
      </div>
      <div class="col-auto text-center">
        <h3>{{ match.homeTeam }}</h3>
      </div>
      {% endif %}
    </div>
    <form action="{% url 'add_scoresheet' match.id %}" method="post">
    </form>
  </div>
{% endblock content %}