{% extends 'base.html' %} 

{% load widget_tweaks %}

{% load static %}

{% block title %}Scoresheet{% endblock title %} 

{% block subheader %} 
  {% include '../subheader.html' with title="Scoresheet" %} 
{% endblock %} 

{% block content %}
<div class="w-full bg-primary-100 border-primary-500 border-b text-primary-600">
  <div class="tk-objective-mk2 font-extrabold text-center text-3xl">
    <h1>Atlanta Doubles Dart League</h1>
  </div>
  <div class="tk-objective-mk2 text-center font-normal text-xl pb-2">
    <h2>Match Play Scoresheet</h2>
  </div>
</div>

<!-- Player Entry -->

<form method="post">
    {% csrf_token %}
  <div class="flex flex-col w-full flex-1">
    <div class="inline-flex flex-row justify-evenly">
      {% if match %}
      <div class="flex-col w-1/2 text-center m-4">
        <div class="content-center border-t border-primary-500">
          <h2 class="w-full m-2 text-left text-2xl text-primary-600 tk-objektiv-mk2 font-black uppercase">Away</h2>
          <h3 class="w-full text-left text-lg m-2">{{ match.awayTeam }}</h3>
          {{ away_player_forms.management_form }}
          {% for away_form in away_player_forms %}
          <div class="flex flex-col w-full">
            <div x-data="selectConfigs()" x-init="fetchOptions()" class="w-full rounded-lg items-center m-2 bg-clip-padding backdrop-filter backdrop-blur-sm bg-primary-100 bg-opacity-20 border-primary-100 shadow-indigo-300 shadow-sm">
              <div @click.away="close()" class="inline-flex items-center w-full">
                <input 
                  id="{{ away_form.player.id_for_label }}"
                  name="{{ away_form.player.html_name }}"
                  x-model="filter"
                  x-transition:leave="transition ease-in duration-100"
                  x-transition:leave-start="opacity-100"
                  x-transition:leave-end="opacity-0"
                  x-cloak 
                  @click.inside="open()"
                  @keydown.enter.stop.prevent="selectOption()"
                  @keydown.arrow-up.prevent="focusPrevOption()"
                  @keydown.arrow-down.prevent="focusNextOption()"
                  class="appearance-none inline-flex bg-transparent m-2 pl-2 w-full text-gray-800"></input>
                <div class="text-gray-300 w-8 m-2 pl-2 pr-1 items-center">
                  <button @click="toggle()" class="w-6 h-6 text-gray-600 outline-none focus:outline-none" type="button">
                      <svg  xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <polyline x-show="isOpen()" points="18 15 12 9 6 15"></polyline>
                        <polyline x-show="!isOpen()" points="18 15 12 20 6 15"></polyline>
                      </svg>
                  </button>
                </div>
              </div>
          <div x-show="isOpen()" class="relative w-full rounded-lg z-50 overflow-y-auto shadow-indigo-200 shadow-sm bg-clip-padding backdrop-filter backdrop-blur-sm bg-primary-100 bg-opacity-20 border-primary-200">
            <div class="flex flex-col w-full">
              <template x-for="(option, index) in filteredOptions()" :key="index">
                  <div 
                    @click="onOptionClick(index)" @d class="mx-2 my-2 rounded-lg hover:bg-primary-100 hover:bg-opacity-90">
                    <div class="p-2 tk-rustica text-left">
                      <span x-text="option.first_name + ' ' + option.last_name"></span>
                    </div>
                  </div>
              </template>
            </div>
          </div>
        </div>
      </div>
        {% endfor %}
      </div>
    </div>
    <div class="flex-col w-1/2 text-center m-4">
      <div class="content-center border-t border-primary-500">
        <h2 class="w-full m-2 text-left text-2xl text-primary-600 tk-objektiv-mk2 font-black uppercase">Home</h2>
        <h3 class="w-full text-left text-lg m-2">{{ match.homeTeam }}</h3>
      {{ home_player_forms.management_form }}
        {% for home_form in home_player_forms %}
        <div class="flex flex-col w-full">
          <div x-data="selectConfigs()" :id="$id('home')" x-init="fetchOptions()" class="w-full rounded-lg items-center m-2 bg-clip-padding backdrop-filter backdrop-blur-sm bg-primary-100 bg-opacity-20 border-primary-100 shadow-indigo-300 shadow-sm">
            <div @click.away="close()" class="inline-flex items-center w-full">
              <input 
                id="{{ home_form.player.id_for_label }}"
                name="{{ home_form.player.html_name }}"
                x-model="filter"
                x-transition:leave="transition ease-in duration-100"
                x-transition:leave-start="opacity-100"
                x-transition:leave-end="opacity-0"
                x-cloak 
                @click.inside="open()"
                class="appearance-none inline-flex bg-transparent m-2 pl-2 w-full text-gray-800"></input>
              <div class="text-gray-300 w-8 m-2 pl-2 pr-1 items-center">
                <button @click="toggle()" class="w-6 h-6 text-gray-600 outline-none focus:outline-none" type="button">
                    <svg  xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <polyline x-show="isOpen()" points="18 15 12 9 6 15"></polyline>
                      <polyline x-show="!isOpen()" points="18 15 12 20 6 15"></polyline>
                    </svg>
                </button>
              </div>
            </div>
        <div x-show="isOpen()" class="relative w-full rounded-lg z-50 overflow-visible shadow-indigo-200 shadow-sm bg-clip-padding backdrop-filter backdrop-blur-sm bg-primary-100 bg-opacity-20 border-primary-200">
          <div class="flex flex-col w-full">
            <template x-for="(option, index) in filteredOptions()" :key="index">
                <div @click="onOptionClick(index)" class="mx-2 my-2 rounded-lg hover:bg-primary-200 hover:bg-opacity-40">
                  <div class="p-2 tk-rustica text-left">
                    <span x-text="option.first_name + ' ' + option.last_name"></span>
                  </div>
                </div>
            </template>
          </div>
        </div>
      </div>
    </div>
      {% endfor %}
    </div>
  {% endif %}
  </div>
</div>
  {{ away_0_game.management_form }}
  {{ away_1_game.management_form }}
  {{ home_0_game.management_form }}
  {{ home_1_game.management_form }} 

    <!--          ======= SINGLES CRICKET =======         -->


    <div class="justify-around mt-8 mb-4">
      <div class="flex-auto p-3 border-primary-500 border-t">
        <h2 class="text-left text-2xl text-primary-600 tk-objektiv-mk2 font-black uppercase">Singles Cricket</h2>
      </div>
    </div>

  <div class="grid grid-cols-2 gap-4 p-2">
   
    <div class="block grid-rows-5">
      
      <div class="grid grid-cols-4 grid-flow-dense items-center font-bold text-primary-500 text-xs uppercase text-center">
        <div class="col-span-1"></div>
        <div class="col-span-1">Stars</div>
        <div class="col-span-1">Perfects</div>
        <div class="col-span-1">Point</div>
      </div>
      
      {% for a0 in away_0_game|slice:":1" %}
      <div class="grid grid-cols-4 grid-flow-dense items-center">
        <span name="a0Player" class="inline-block col-span-1 text-sm">Away Player 1</span>
        {{ a0.stars }}
        {{ a0.perfects }}
        {% render_field a0.game_point class+="ss-right" %}
      </div>
      {% endfor %}

      {% for a1 in away_1_game|slice:":1" %}
      <div class="grid grid-cols-4 grid-flow-dense items-center">
        <span name="a1Player" class="inline-block col-span-1 text-sm">Away Player 2</span>
        {{ a1.stars }}
        {{ a1.perfects }}
        {% render_field a1.game_point class+="ss-right" %}
      </div>
      {% endfor %}
      
      {% for a0 in away_0_game|slice:"1:2" %}
      <div class="grid grid-cols-4 grid-flow-dense items-center">
        <span name="a0Player" class="inline-block col-span-1 text-sm">Away Player 1</span>
        {{ a0.stars }}
        {{ a0.perfects }}
        {% render_field a0.game_point class+="ss-right" %}
      </div>
      {% endfor %}
     
      {% for a1 in away_1_game|slice:"1:2" %}
      <div class="grid grid-cols-4 grid-flow-dense items-center">
        <span name="a1Player" class="inline-block col-span-1 text-sm">Away Player 2</span>
        {{ a1.stars }}
        {{ a1.perfects }}
        {% render_field a1.game_point class+="ss-right" %}
      </div>
      {% endfor %}
   
    </div>
    
    
    <div class="block grid-rows-5">
      
      <div class="grid grid-cols-4 grid-flow-dense items-center font-bold text-primary-500 text-xs uppercase text-center">
        <div class="col-span-1"></div>
        <div class="col-span-1">Stars</div>
        <div class="col-span-1">Perfects</div>
        <div class="col-span-1">Point</div>
      </div>
      
      {% for h0 in home_0_game|slice:":1" %}
      <div class="grid grid-cols-4 grid-flow-dense items-center">
        <span name="h0Player" class="inline-block col-span-1 text-sm">Home Player 1</span>
        {{ h0.stars }}
        {{ h0.perfects }}
        {% render_field h0.game_point class+="ss-right" %}
      </div>
      {% endfor %}
      
      {% for h1 in home_1_game|slice:":1" %}
      <div class="grid grid-cols-4 grid-flow-dense items-center">
        <span name="h1Player" class="inline-block col-span-1 text-sm">Home Player 2</span>
        {{ h1.stars }}
        {{ h1.perfects }}
        {% render_field h1.game_point class+="ss-right" %}
      </div>
      {% endfor %}
      
      {% for h1 in home_1_game|slice:"1:2" %}
      <div class="grid grid-cols-4 grid-flow-dense items-center">
        <span name="h1Player" class="inline-block col-span-1 text-sm">Home Player 2</span>
        {{ h1.stars }}
        {{ h1.perfects }}
        {% render_field h1.game_point class+="ss-right" %}
      </div>
      {% endfor %}
      
      {% for h0 in home_0_game|slice:"1:2" %}
      <div class="grid grid-cols-4 grid-flow-dense items-center">
        <span name="h0Player" class="inline-block col-span-1 text-sm">Home Player 1</span>
        {{ h0.stars }}
        {{ h0.perfects }}
        {% render_field h0.game_point class+="ss-right" %}
      </div>
      {% endfor %}
    </div>
  </div>



 <!--          ======= DOUBLES CRICKET =======         -->


<div class="flex flex-auto mt-8 mb-4">
  <div class="flex-auto inline-flex justify-between align-middle p-3 border-primary-500 border-t">
    <h2 class="text-left text-2xl text-primary-600 tk-objektiv-mk2 font-black uppercase">Doubles Cricket</h2>
  </div>
</div>

<div class="grid grid-cols-2 gap-4 p-2">
  <div class="block grid-rows-5">
    <div class="grid grid-cols-4 grid-flow-dense items-center font-bold text-primary-500 text-xs uppercase text-center">
      <div class="col-span-1"></div>
      <div class="col-span-1">Stars</div>
      <div class="col-span-1">Perfects</div>
      <div class="col-span-1">Point</div>
    </div>

    {% for a0 in away_0_game|slice:"2:3" %}
    <div class="grid grid-cols-4 grid-flow-dense items-center">
      <span name="a0Player" class="inline-block col-span-1 text-sm">Away Player 1</span>
      {{ a0.stars }}
      {{ a0.perfects }}
      {% render_field a0.game_point class+="ss-right" %}
    </div>
    {% endfor %}
    
    {% for a1 in away_1_game|slice:"2:3" %}
    <div class="grid grid-cols-4 grid-flow-dense items-center mb-4">
      <span name="a1Player" class="inline-block col-span-1 text-sm">Away Player 2</span>
      {{ a1.stars }}
      {{ a1.perfects }}
      {% render_field a1.game_point class+="ss-right" %}
    </div>
    {% endfor %}
    
    {% for a1 in away_1_game|slice:"3:4" %}
    <div class="grid grid-cols-4 grid-flow-dense items-center">
      <span name="a1Player" class="inline-block col-span-1 text-sm">Away Player 2</span>
      {{ a1.stars }}
      {{ a1.perfects }}
      {% render_field a1.game_point class+="ss-right" %}
    </div>
    {% endfor %}
    
    {% for a0 in away_0_game|slice:"3:4" %}
    <div class="grid grid-cols-4 grid-flow-dense items-center">
      <span name="a0Player" class="inline-block col-span-1 text-sm">Away Player 1</span>
      {{ a0.stars }}
      {{ a0.perfects }}
      {% render_field a0.game_point class+="ss-right" %}
    </div>
    {% endfor %}
  </div>

  <div class="block grid-rows-5">
    <div class="grid grid-cols-4 grid-flow-dense items-center font-bold text-primary-500 text-xs uppercase text-center">
      <div class="col-span-1"></div>
      <div class="col-span-1">Stars</div>
      <div class="col-span-1">Perfects</div>
      <div class="col-span-1">Point</div>
    </div>

    {% for h0 in home_0_game|slice:"2:3" %}
    <div class="grid grid-cols-4 grid-flow-dense items-center">
      <span name="h0Player" class="inline-block col-span-1 text-sm">Home Player 1</span>
      {{ h0.stars }}
      {{ h0.perfects }}
      {% render_field h0.game_point class+="ss-right" %}
    </div>
    {% endfor %}
    
    {% for h1 in home_1_game|slice:"2:3" %}
    <div class="grid grid-cols-4 grid-flow-dense items-center mb-4">
      <span name="h1Player" class="inline-block col-span-1 text-sm">Home Player 2</span>
      {{ h1.stars }}
      {{ h1.perfects }}
      {% render_field h1.game_point class+="ss-right" %}
    </div>
    {% endfor %}
    
    {% for h1 in home_1_game|slice:"3:4" %}
    <div class="grid grid-cols-4 grid-flow-dense items-center">
      <span name="h1Player" class="inline-block col-span-1 text-sm">Home Player 2</span>
      {{ h1.stars }}
      {{ h1.perfects }}
      {% render_field h1.game_point class+="ss-right" %}
    </div>
    {% endfor %}
    
    {% for h0 in home_0_game|slice:"3:4" %}
    <div class="grid grid-cols-4 grid-flow-dense items-center">
      <span name="h0Player" class="inline-block col-span-1 text-sm">Home Player 1</span>
      {{ h0.stars }}
      {{ h0.perfects }}
      {% render_field h0.game_point class+="ss-right" %}
    </div>
    {% endfor %}
  </div>
</div>

 <!--          ======= SINGLES 501 =======         -->


 <div class="justify-around mt-8 mb-4">
  <div class="flex-auto p-3 border-primary-500 border-t">
    <h2 class="text-left text-2xl text-primary-600 tk-objektiv-mk2 font-black uppercase">Singles 501</h2>
  </div>
</div>

<div class="grid grid-cols-2 gap-4 p-2">
  <div class="block grid-rows-5">
      <div class="grid grid-cols-8 grid-flow-dense items-center font-bold text-primary-500 text-xs uppercase text-center">
        <div class="col-span-2"></div>
        <div class="col-span-1">Stars</div>
        <div class="col-span-1">Perfects</div>
        <div class="col-span-1">Point</div>
        <div class="col-span-1">Out</div>
        <div class="col-span-1">Darts Thrown</div>
        <div class="col-span-1">Score Left</div>
      </div>

    {% for a0 in away_0_game|slice:"4:5" %}
    <div class="grid grid-cols-8 grid-flow-dense items-center">
      <span name="a0Player" class="inline-block col-span-2 text-sm">Away Player 1</span>
      {{ a0.stars }}
      {{ a0.perfects }}
      {% render_field a0.game_point class+="ss-center" %}
      {{ a0.out_thrown }}
      {{ a0.darts_thrown }}
      {{ a0.score_left }}
    </div>
    {% endfor %}
    {% for a1 in away_1_game|slice:"4:5" %}
    <div class="grid grid-cols-8 grid-flow-dense items-center">
      <span name="a1Player" class="inline-block col-span-2 text-sm">Away Player 2</span>
      {{ a1.stars }}
      {{ a1.perfects }}
      {% render_field a1.game_point class+="ss-center" %}
      {{ a1.out_thrown }}
      {{ a1.darts_thrown }}
      {{ a1.score_left }}
    </div>
    {% endfor %}
    {% for a0 in away_0_game|slice:"5:6" %}
    <div class="grid grid-cols-8 grid-flow-dense items-center">
      <span name="a0Player" class="inline-block col-span-2 text-sm">Away Player 1</span>
      {{ a0.stars }}
      {{ a0.perfects }}
      {% render_field a0.game_point class+="ss-center" %}
      {{ a0.out_thrown }}
      {{ a0.darts_thrown }}
      {{ a0.score_left }}
    </div>
    {% endfor %}
    {% for a1 in away_1_game|slice:"5:6" %}
    <div class="grid grid-cols-8 grid-flow-dense items-center">
      <span name="a1Player" class="inline-block col-span-2 text-sm">Away Player 2</span>
      {{ a1.stars }}
      {{ a1.perfects }}
      {% render_field a1.game_point class+="ss-center" %}
      {{ a1.out_thrown }}
      {{ a1.darts_thrown }}
      {{ a1.score_left }}
    </div>
    {% endfor %}
  </div>
  
  
  <div class="block grid-rows-5">
    <div class="grid grid-cols-8 grid-flow-dense items-center font-bold text-primary-500 text-xs uppercase text-center">
      <div class="col-span-2"></div>
      <div class="col-span-1">Stars</div>
      <div class="col-span-1">Perfects</div>
      <div class="col-span-1">Point</div>
      <div class="col-span-1">Out</div>
      <div class="col-span-1">Darts Thrown</div>
      <div class="col-span-1">Score Left</div>
    </div>
    {% for h0 in home_0_game|slice:"4:5" %}
    <div class="grid grid-cols-8 grid-flow-dense items-center">
      <span name="h0Player" class="inline-block col-span-2 text-sm">Home Player 1</span>
      {{ h0.stars }}
      {{ h0.perfects }}
      {% render_field h0.game_point class+="ss-center" %}
      {{ h0.out_thrown }}
      {{ h0.darts_thrown }}
      {{ h0.score_left }}
    </div>
    {% endfor %}
    {% for h1 in home_1_game|slice:"4:5" %}
    <div class="grid grid-cols-8 grid-flow-dense items-center">
      <span name="h1Player" class="inline-block col-span-2 text-sm">Home Player 2</span>
      {{ h1.stars }}
      {{ h1.perfects }}
      {% render_field h1.game_point class+="ss-center" %}
      {{ h1.out_thrown }}
      {{ h1.darts_thrown }}
      {{ h1.score_left }}
    </div>
    {% endfor %}
    {% for h1 in home_1_game|slice:"5:6" %}
    <div class="grid grid-cols-8 grid-flow-dense items-center">
      <span name="h1Player" class="inline-block col-span-2 text-sm">Home Player 2</span>
      {{ h1.stars }}
      {{ h1.perfects }}
      {% render_field h1.game_point class+="ss-center" %}
      {{ h1.out_thrown }}
      {{ h1.darts_thrown }}
      {{ h1.score_left }}
    </div>
    {% endfor %}
    {% for h0 in home_0_game|slice:"5:6" %}
    <div class="grid grid-cols-8 grid-flow-dense items-center">
      <span name="h0Player" class="inline-block col-span-2 text-sm">Home Player 1</span>
      {{ h0.stars }}
      {{ h0.perfects }}
      {% render_field h0.game_point class+="ss-center" %}
      {{ h0.out_thrown }}
      {{ h0.darts_thrown }}
      {{ h0.score_left }}
    </div>
    {% endfor %}
  </div>
</div>



 <!--          ======= DOUBLES 301 =======         -->


 <div class="justify-around mt-8 mb-4">
  <div class="flex-auto p-3 border-primary-500 border-t">
    <h2 class="text-left text-2xl text-primary-600 tk-objektiv-mk2 font-black uppercase">Doubles 301</h2>
  </div>
</div>

<div class="grid grid-cols-2 gap-4 p-2">
  <div class="block grid-rows-5">
    <div class="grid grid-cols-7 grid-flow-dense items-center font-bold text-primary-500 text-xs uppercase text-center">
      <div class="col-span-2"></div>
      <div class="col-span-1">Stars</div>
      <div class="col-span-1">Perfects</div>
      <div class="col-span-1">Point</div>
      <div class="col-span-1">In</div>
      <div class="col-span-1">Out</div>
    </div>

    {% for a0 in away_0_game|slice:"6:7" %}
    <div class="grid grid-cols-7 grid-flow-dense items-center">
      <span name="a0Player" class="inline-block col-span-2 text-sm">Away Player 1</span>
      {{ a0.stars }}
      {{ a0.perfects }}
      {% render_field a0.game_point class+="ss-center" %}
      {{ a0.in_thrown }}
      {% render_field a0.out_thrown class+="ss-right" %}
    </div>
    {% endfor %}
    {% for a1 in away_1_game|slice:"6:7" %}
    <div class="grid grid-cols-7 grid-flow-dense items-center mb-4">
      <span name="a1Player" class="inline-block col-span-2 text-sm">Away Player 2</span>
      {{ a1.stars }}
      {{ a1.perfects }}
      {% render_field a1.game_point class+="ss-center" %}
      {{ a1.in_thrown }}
      {% render_field a1.out_thrown class+="ss-right" %}
    </div>
    {% endfor %}
    {% for a1 in away_1_game|slice:"7:8" %}
    <div class="grid grid-cols-7 grid-flow-dense items-center">
      <span name="a1Player" class="inline-block col-span-2 text-sm">Away Player 2</span>
      {{ a1.stars }}
      {{ a1.perfects }}
      {% render_field a1.game_point class+="ss-center" %}
      {{ a1.in_thrown }}
      {% render_field a1.out_thrown class+="ss-right" %}
    </div>
    {% endfor %}
    {% for a0 in away_0_game|slice:"7:8" %}
    <div class="grid grid-cols-7 grid-flow-dense items-center">
      <span name="a0Player" class="inline-block col-span-2 text-sm">Away Player 1</span>
      {{ a0.stars }}
      {{ a0.perfects }}
      {% render_field a0.game_point class+="ss-center" %}
      {{ a0.in_thrown }}
      {% render_field a0.out_thrown class+="ss-right" %}
    </div>
    {% endfor %}
  </div>
  
  
  <div class="block grid-rows-5">
    <div class="grid grid-cols-7 grid-flow-dense items-center font-bold text-primary-500 text-xs uppercase text-center">
      <div class="col-span-2"></div>
      <div class="col-span-1">Stars</div>
      <div class="col-span-1">Perfects</div>
      <div class="col-span-1">Point</div>
      <div class="col-span-1">In</div>
      <div class="col-span-1">Out</div>
    </div>

    {% for h1 in home_1_game|slice:"6:7" %}
    <div class="grid grid-cols-7 grid-flow-dense items-center">
      <span name="h1Player" class="inline-block col-span-2 text-sm">Home Player 2</span>
      {{ h1.stars }}
      {{ h1.perfects }}
      {% render_field h1.game_point class+="ss-center" %}
      {{ h1.in_thrown }}
      {% render_field h1.out_thrown class+="ss-right" %}
    </div>
    {% endfor %}
    {% for h0 in home_0_game|slice:"6:7" %}
    <div class="grid grid-cols-7 grid-flow-dense items-center mb-4">
      <span name="h0Player" class="inline-block col-span-2 text-sm">Home Player 1</span>
      {{ h0.stars }}
      {{ h0.perfects }}
      {% render_field h0.game_point class+="ss-center" %}
      {{ h0.in_thrown }}
      {% render_field h0.out_thrown class+="ss-right" %}
    </div>
    {% endfor %}
    {% for h0 in home_0_game|slice:"7:8" %}
    <div class="grid grid-cols-7 grid-flow-dense items-center">
      <span name="h0Player" class="inline-block col-span-2 text-sm">Home Player 1</span>
      {{ h0.stars }}
      {{ h0.perfects }}
      {% render_field h0.game_point class+="ss-center" %}
      {{ h0.in_thrown }}
      {% render_field h0.out_thrown class+="ss-right" %}
    </div>
    {% endfor %}
    {% for h1 in home_1_game|slice:"7:8" %}
    <div class="grid grid-cols-7 grid-flow-dense items-center">
      <span name="h1Player" class="inline-block col-span-2 text-sm">Home Player 2</span>
      {{ h1.stars }}
      {{ h1.perfects }}
      {% render_field h1.game_point class+="ss-center" %}
      {{ h1.in_thrown }}
      {% render_field h1.out_thrown class+="ss-right" %}
    </div>
    {% endfor %}
  </div>
</div>

 <!--          ======= DOUBLES 501 =======         -->


<div class="justify-around mt-8 mb-4">
  <div class="flex-auto p-3 border-primary-500 border-t">
    <h2 class="text-left text-2xl text-primary-600 tk-objektiv-mk2 font-black uppercase">Doubles 501</h2>
  </div>
</div>

<div class="grid grid-cols-2 gap-4 p-2">
  <div class="block grid-rows-5">
    <div class="grid grid-cols-8 grid-flow-dense items-center font-bold text-primary-500 text-xs uppercase text-center">
      <div class="col-span-2"></div>
      <div class="col-span-1">Stars</div>
      <div class="col-span-1">Perfects</div>
      <div class="col-span-1">Point</div>
      <div class="col-span-1">Out</div>
      <div class="col-span-1">Darts Thrown</div>
      <div class="col-span-1">Score Left</div>
    </div>

    {% for a0 in away_0_game|slice:"8:9" %}
    <div class="grid grid-cols-8 grid-flow-dense items-center">
      <span name="a0Player" class="inline-block col-span-2 text-sm">Away Player 1</span>
      {{ a0.stars }}
      {{ a0.perfects }}
      {% render_field a0.game_point class+="ss-center" %}
      {{ a0.out_thrown }}
      {{ a0.darts_thrown }}
      {{ a0.score_left }}
    </div>
    {% endfor %}
    {% for a1 in away_1_game|slice:"8:9" %}
    <div class="grid grid-cols-8 grid-flow-dense items-center mb-4">
      <span name="a1Player" class="inline-block col-span-2 text-sm">Away Player 2</span>
      {{ a1.stars }}
      {{ a1.perfects }}
      {% render_field a1.game_point class+="ss-center" %}
      {{ a1.out_thrown }}
      {{ a1.darts_thrown }}
      {{ a1.score_left }}
    </div>
    {% endfor %}
    {% for a1 in away_1_game|slice:"9:" %}
    <div class="grid grid-cols-8 grid-flow-dense items-center">
      <span name="a1Player" class="inline-block col-span-2 text-sm">Away Player 2</span>
      {{ a1.stars }}
      {{ a1.perfects }}
      {% render_field a1.game_point class+="ss-center" %}
      {{ a1.out_thrown }}
      {{ a1.darts_thrown }}
      {{ a1.score_left }}
    </div>
    {% endfor %}
    {% for a0 in away_0_game|slice:"9:" %}
    <div class="grid grid-cols-8 grid-flow-dense items-center">
      <span name="a0Player" class="inline-block col-span-2 text-sm">Away Player 1</span>
      {{ a0.stars }}
      {{ a0.perfects }}
      {% render_field a0.game_point class+="ss-center" %}
      {{ a0.out_thrown }}
      {{ a0.darts_thrown }}
      {{ a0.score_left }}
    </div>
    {% endfor %}
  </div>
  
  
  <div class="block grid-rows-5">
    <div class="grid grid-cols-8 grid-flow-dense items-center font-bold text-primary-500 text-xs uppercase text-center">
      <div class="col-span-2"></div>
      <div class="col-span-1">Stars</div>
      <div class="col-span-1">Perfects</div>
      <div class="col-span-1">Point</div>
      <div class="col-span-1">Out</div>
      <div class="col-span-1">Darts Thrown</div>
      <div class="col-span-1">Score Left</div>
    </div>

    {% for h0 in home_0_game|slice:"8:9" %}
    <div class="grid grid-cols-8 grid-flow-dense items-center">
      <span name="h0Player" class="inline-block col-span-2 text-sm">Home Player 1</span>
      {{ h0.stars }}
      {{ h0.perfects }}
      {% render_field h0.game_point class+="ss-center" %}
      {{ h0.out_thrown }}
      {{ h0.darts_thrown }}
      {{ h0.score_left }}
    </div>
    {% endfor %}
    {% for h1 in home_1_game|slice:"8:9" %}
    <div class="grid grid-cols-8 grid-flow-dense items-center mb-4">
      <span name="h1Player" class="inline-block col-span-2 text-sm">Home Player 2</span>
      {{ h1.stars }}
      {{ h1.perfects }}
      {% render_field h1.game_point class+="ss-center" %}
      {{ h1.out_thrown }}
      {{ h1.darts_thrown }}
      {{ h1.score_left }}
    </div>
    {% endfor %}
    {% for h1 in home_1_game|slice:"9:" %}
    <div class="grid grid-cols-8 grid-flow-dense items-center">
      <span name="h1Player" class="inline-block col-span-2 text-sm">Home Player 2</span>
      {{ h1.stars }}
      {{ h1.perfects }}
      {% render_field h1.game_point class+="ss-center" %}
      {{ h1.out_thrown }}
      {{ h1.darts_thrown }}
      {{ h1.score_left }}
    </div>
    {% endfor %}
    {% for h0 in home_0_game|slice:"9:" %}
    <div class="grid grid-cols-8 grid-flow-dense items-center">
      <span name="h0Player" class="inline-block col-span-2 text-sm">Home Player 1</span>
      {{ h0.stars }}
      {{ h0.perfects }}
      {% render_field h0.game_point class+="ss-center" %}
      {{ h0.out_thrown }}
      {{ h0.darts_thrown }}
      {{ h0.score_left }}
    </div>
    {% endfor %}
  </div>
</div>
</div>

<div class="justify-around mt-8 mb-4">
  <div class="flex-auto p-3 border-primary-500 border-t">
    <h2 class="text-left text-2xl text-primary-600 tk-objektiv-mk2 font-black uppercase">Match Summary</h2>
  </div>
</div>

<div class="grid grid-cols-2 gap-4 p-2">
   
  <div class="block grid-rows-3">
    
    <div class="grid grid-cols-4 grid-flow-dense items-center font-bold text-primary-500 text-xs uppercase text-center">
      <div class="col-span-1"></div>
      <div class="col-span-1">Stars</div>
      <div class="col-span-1">Perfects</div>
      <div class="col-span-1">Point</div>
    </div>
    
    <div class="grid grid-cols-4 grid-flow-dense items-center">
      <span name="a0Player" class="inline-block col-span-1 text-md text-right">Away Player 1</span>
      <span id="#a0TotalStars" class="inline-block col-span-1 text-md text-center">0</span>
      <span id="#a0TotalPerfects" class="inline-block col-span-1 text-md text-center">0</span>
      <span id="#a0TotalPoints" class="inline-block col-span-1 text-md text-center">0</span>
    </div>

    <div class="grid grid-cols-4 grid-flow-dense items-center">
      <span name="a1Player" class="inline-block col-span-1 text-md text-right">Away Player 2</span>
      <span id="#a1TotalStars" class="inline-block col-span-1 text-md text-center">0</span>
      <span id="#a1TotalPerfects" class="inline-block col-span-1 text-md text-center">0</span>
      <span id="#a1TotalPoints" class="inline-block col-span-1 text-md text-center">0</span>
    </div>

  </div>

  <div class="block grid-rows-3 p-3 bg-white rounded-lg shadow-sm shadow-primary-200">

    <div class="my-2 grid grid-cols-4 grid-flow-dense items-center font-bold text-primary-500 text-xs uppercase text-center">
      <div class="col-span-1"></div>
      <div class="col-span-1">Stars</div>
      <div class="col-span-1">Perfects</div>
      <div class="col-span-1">Point</div>
    </div>
    
    <div class="my-2 grid grid-cols-4 grid-flow-dense items-center">
      <span name="h0Player" class="inline-block col-span-1 text-md text-right">Home Player 1</span>
      <span id="#h0TotalStars" class="inline-block col-span-1 text-md text-center">0</span>
      <span id="#h0TotalPerfects" class="inline-block col-span-1 text-md text-center">0</span>
      <span id="#h0TotalPoints" class="inline-block col-span-1 text-md text-center">0</span>
    </div>

    <div class="my-2 grid grid-cols-4 grid-flow-dense items-center">
      <span name="h1Player" class="inline-block col-span-1 text-md text-right">Home Player 2</span>
      <span id="#h1TotalStars" class="inline-block col-span-1 text-md text-center">0</span>
      <span id="#h1TotalPerfects" class="inline-block col-span-1 text-md text-center">0</span>
      <span id="#h1TotalPoints" class="inline-block col-span-1 text-md text-center">0</span>
    </div>

  </div>
</div>

  <div class="flex min-w-full justify-center p-8">
    <button type="submit" class="bg-white rounded-md text-primary-500 font-semibold tk-rustica uppercase border-2 border-primary-500">
      <span class="m-3">Submit</span>
    </button>
  </div>
</form>

{% endblock content %}

{% block footerScripts %}

<script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
<script src="{% static 'js/scoresheet.js' %}"></script>
{% endblock footerScripts %}

