{% extends 'base_sidebar.html' %}

{% block title %}Statistics{% endblock title %}

{% block subheader %}
{% include '../subheader.html' with title="Stats + Standings" %}   
{% endblock subheader %}

{% block sidebar %}
<div class="mb-4">
    <h1 class="font-black text-amber-400 text-xl mb-2">
        Seasons
    </h1>
    <ul class="">
        {% for season in all_seasons %}
        <li class="text-slate-200 hover:underline hover:text-blue-400"><a href="{% url 'standings' %}?season={{ season.id }}">{{ season.season_number }}</a></li>
        {% endfor %}
    </ul>
</div>
<div class="mb-4">
    <h1 class="font-black text-amber-400 text-xl mb-2">
        Active Divisions
    </h1>
    <ul class="">
        {% for division in active_divisions %}
        <li class="text-slate-200 hover:underline hover:text-blue-400"><a href="{% url 'standings' %}?division={{ division.id }}">{{ division }}</a></li>
        {% endfor %}
        <li class="text-slate-200 hover:underline hover:text-blue-400"><a href="{% url 'standings' %}">View All</a></li>
    </ul> 
</div> 
{% endblock sidebar %}

{% block main %}
<div class="space-y-4">
    {% for row in player_stats %}
        <p class="text-slate-200">{{ row.player__first_name }} {{ row.player__last_name }} | {{ row.total_points }}</p>
    {% endfor %}
</div>
{% endblock main %}