{% extends 'base_sidebar.html' %}

{% block title %}Statistics{% endblock title %}

{% block subheader %}
{% include '../subheader.html' with title="Stats + Standings" %}   
{% endblock subheader %}

{% block sidebar %}
<div class="">
    <h1 class="font-black text-amber-400 text-xl mb-2">
        Active Divisions
    </h1>
    <ul class="">
        {% for division in active_divisions %}
        <li class="text-slate-200 hover:underline hover:text-blue-400"><a href="{% url 'standings' %}?division={{ division.id }}">{{ division }}</a></li>
        {% endfor %}
        <li class="text-slate-200 hover:underline hover:text-blue-400"><a href="{% url 'standings' %}">View All</a></li>
    </ul> 
</div> 
{% endblock sidebar %}

{% block main %}
{% endblock main %}