{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="flex flex-col mx-auto my-auto items-center justify-center">
    <form class="max-w-lg rounded-lg p-3 bg-white shadow-lg shadow-violet-500/40" id="login-form" method="post">
      {% csrf_token %}
      <div class="flex-auto">
      {{ form }}
      </div>
      <!-- add action="{% url 'login' %} to form element above if uncommenting and delete {{ form }}-->
      <!--
      <p class="text-center h2 pb-4 tk-objektiv-mk2">LOGIN</p>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="id_username" placeholder="username">
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="id_password" placeholder="password">
      </div>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me </input>
        </label>
      </div>
      <input type="submit" class="w-100 btn btn-lg btn-primary" type="submit" value="Login"></input>
      <input type="hidden" name="text" value="{{ next }}"></input>
      <hr class="my-4"></hr>
      {% if form.errors %}
      <small class="text-danger">Your username and password did not match. Please try again.</small>
      {% endif %}
    -->
    <div class="flex items-end justify-center">
      <button class="btn-outer" type="submit">
        <span class="btn-inner">
          Submit
        </span>
      </button>
    </div>
    </form>
  </div>
{% endblock %}