<div id="card_body" class="h-full">
    <div class="flex-row w-full justify-center items-center"
         id="password_done">
        <p class="p-2 text-slate-200 tk-rustica text-left">
            We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
        </p>
        <p class="p-2 text-slate-200 tk-rustica text-left">
            If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
        </p>
    </div>
    <div class="flex flex-row justify-around text-blue-400 text-center">
        <a href="{% url 'login' %}"
           class="inline-flex items-center text-blue-400 hover:underline hover:text-amber-400">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 20 20"
                 fill="currentColor"
                 class="w-5 h-5">
                <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
            </svg>
            <span class="align-middle">Back to Login</span>
        </a>
    </div>
</div>
