<div id="password_reset_box">
  <a href="{% url 'login' %}"
     class="inline-flex items-center text-blue-400 hover:underline hover:text-amber-400">
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 20 20"
         fill="currentColor"
         class="w-5 h-5">
      <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
    </svg>
    <span class="align-middle">Back</span>
  </a>
  <form class="flex-row w-full justify-center items-center"
        id="password_reset"
        method="post"
        action="{% url 'password_reset' %}">
    <p class="p-2 text-slate-200 text-left">
      Forgot your password? Enter your email address below, and we’ll send instructions for setting a new one.
    </p>
    {% csrf_token %}
    <div class="w-full my-2 rounded-full items-center justify-center bg-slate-800/50 shadow-slate-900/30 shadow-inner">
      <div class="flex items-center w-full">
        <div class="text-amber-400 px-3 items-center">
          <svg xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 24 24"
               fill="currentColor"
               class="w-6 h-6">
            <path d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" />
            <path d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" />
          </svg>
        </div>
        <input type="email"
               name="email"
               id="id_email"
               class="w-full h-10 px-3 text-base placeholder-slate-400 text-slate-200 transition-colors duration-200 ease-in-out bg-slate-800 border border-slate-900/30 rounded-full shadow-inner shadow-slate-900/30 focus:outline-none focus:ring-1 focus:ring-amber-400 focus:ring-opacity-100 focus:border-transparent focus:ring-inset"
               placeholder="example@email.com"
               required="">
      </div>
    </div>
    <span class="text-sm text-rose-400 leading-5">{{ form.email.errors }}</span>
    <div class="flex items-end justify-center mt-6">
      <button hx-post="{% url 'password_reset' %}"
              hx-target="#password_reset_box"
              hx-swap="innerHTML"
              class="p-1 mx-4 mt-6 w-full bg-slate-800 shadow-inner shadow-slate-900/40 ring-1 ring-slate-900/30 rounded-lg text-amber-400 font-semibold tk-rustica uppercase border border-amber-400 hover:transition-all hover:bg-amber-900/60 hover:ease-in-out hover:duration-500"
              type="submit">
        <span class="text-center text-amber-400">Reset Password</span>
      </button>
    </div>
  </form>
</div>
