{% extends 'base.html' %}

{% load static %}

{% block title %}Reset Password{% endblock title %}

{% block headerScripts %}
<script src="{% static 'htmx/htmx.min.js' %}"></script>
{% endblock headerScripts %}


{% block content %}
<div class="flex flex-col sm:w-full md:w-1/2 mx-auto mt-0.5 space-y-4 justify-center rounded-lg py-4 md:py-6 px-2 md:px-4 bg-white shadow-lg shadow-gray-400/10">
  <h2 class="w-full border-t-2 border-primary-500 tk-rustica text-left text-xl md:text-2xl font-bold text-primary-500 uppercase">
      Reset Password
  </h2>

  {% if validlink %}
  <form class="flex-row w-full justify-center items-center" id="password-reset-form" action="{{ form_url }}">
    {% csrf_token %}
    
    <p class="tk-rustica p-2 text-left">Complete the form below to reset your password.</p>
    
    {% if form.non_field_errors %}
    <div class="m-4 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded-lg relative" role="alert">
      <strong class="font-bold">Error!</strong>
      <span class="block sm:inline">{{ form.non_field_errors }}</span>
    </div> 
    {% endif %}
    
    
    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
    
    <div class="w-full my-2 rounded-lg items-center justify-center bg-primary-100/20 border-primary-100 border shadow-violet-500/10 shadow-sm">
      <div class="flex items-center w-full">
        
        <div class="text-primary-500 px-2 items-center">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6">
            <path fill-rule="evenodd" d="M8 7a5 5 0 113.61 4.804l-1.903 1.903A1 1 0 019 14H8v1a1 1 0 01-1 1H6v1a1 1 0 01-1 1H3a1 1 0 01-1-1v-2a1 1 0 01.293-.707L8.196 8.39A5.002 5.002 0 018 7zm5-3a.75.75 0 000 1.5A1.5 1.5 0 0114.5 7 .75.75 0 0016 7a3 3 0 00-3-3z" clip-rule="evenodd" />
          </svg>            
        </div>
        
        <input type="password" name="new_password1" id="id_new_password1" class="appearance-none w-full bg-white outline-none border-none rounded-lg focus:ring-1 focus:ring-amber-400" placeholder="New Password" required></input>
      
      </div>
    </div>
    
    <div class="w-full my-2 rounded-lg items-center justify-center bg-primary-100/20 border-primary-100 border shadow-violet-500/10 shadow-sm">
      <div class="flex items-center w-full">
        
        <div class="text-primary-500 px-2 items-center">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6">
            <path fill-rule="evenodd" d="M8 7a5 5 0 113.61 4.804l-1.903 1.903A1 1 0 019 14H8v1a1 1 0 01-1 1H6v1a1 1 0 01-1 1H3a1 1 0 01-1-1v-2a1 1 0 01.293-.707L8.196 8.39A5.002 5.002 0 018 7zm5-3a.75.75 0 000 1.5A1.5 1.5 0 0114.5 7 .75.75 0 0016 7a3 3 0 00-3-3z" clip-rule="evenodd" />
          </svg>            
        </div>
        
        <input type="password" name="new_password2" id="id_new_password2" class="appearance-none w-full bg-white outline-none border-none rounded-lg focus:ring-1 focus:ring-amber-400" placeholder="Confirm Password" required></input>
      
      </div>
    </div>
    
    <div class="flex items-end justify-center mt-6">
      <button hx-post="{{ form_url }}" hx-target="#password-reset-form" hx-swap="outerHTML" class="p-1 mx-4 mt-6 w-full bg-white rounded-lg text-primary font-semibold tk-rustica uppercase border border-primary-500 hover:transition-all hover:shadow-md hover:shadow-violet-500/20 hover:ease-in-out hover:duration-300 hover:bg-primary-100/20" type="submit">
        <span class="text-center text-primary-500">
          Change Password
        </span>
      </button>
    </div>
  
  </form>
  {% else %}
  <div class="m-4 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded-lg relative" role="alert">
    <strong class="font-bold">Error!</strong>
    <span class="block sm:inline">The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</span>
  </div> 
  {% endif %}
</div>
{% endblock content %}

{% block footerScripts %}
<script>
  document.body.addEventListener('htmx:configRequest', (event) => {
    event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
  })
</script>
{% endblock footerScripts %}