{% extends 'base.html' %}

{% load static %}

{% block title %}Reset Password{% endblock title %}

{% block headerScripts %}
<script src="{% static 'htmx/htmx.min.js' %}"></script>
{% endblock headerScripts %}


{% block content %}
<div id="password_reset_box" class="w-full md:w-1/2 mt-24 p-5 justify-center align-center rounded-lg shadow-xl bg-slate-700 shadow-slate-900/30">
  <div class="justify-items-start flex-auto">
    <h2 class="text-amber-400 text-xl md:text-2xl font-black py-2">Reset Password</h2>
    <p class="pt-4 text-slate-200 text-sm">Complete the form below to reset your password.</p>
  </div>

  <div id="password-reset">
  {% if validlink %}
  <form class="justify-evenly items-center pt-4 text-slate-200" id="password-reset-form" method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
      <div class="m-4 relative justify-end align-end ml-auto w-full h-fit px-4 py-3 rounded-lg ring-1 ring-rose-300 shadow-rose-800/10 shadow-lg bg-rose-900/30">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute -top-2 -left-2 fill-slate-800 stroke-rose-300 h-5 w-5 flex-none">
          <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.72 6.97a.75.75 0 10-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 101.06 1.06L12 13.06l1.72 1.72a.75.75 0 101.06-1.06L13.06 12l1.72-1.72a.75.75 0 10-1.06-1.06L12 10.94l-1.72-1.72z" clip-rule="evenodd" />
        </svg>
        <strong class="text-rose-300 font-semibold">Error!</strong>
        <span class="text-rose-300">{{ form.non_field_errors }}</span>
      </div>
  {% endif %} 
    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
    <label for="id_new_password1">New Password<span class="text-rose-400">*</span></label>
    <div class="w-full my-2 rounded-full items-center justify-center bg-slate-800/50 shadow-slate-900/30 shadow-inner">
      <div class="flex items-center w-full">
        <div class="text-amber-400 px-2 items-center">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6">
            <path fill-rule="evenodd" d="M8 7a5 5 0 113.61 4.804l-1.903 1.903A1 1 0 019 14H8v1a1 1 0 01-1 1H6v1a1 1 0 01-1 1H3a1 1 0 01-1-1v-2a1 1 0 01.293-.707L8.196 8.39A5.002 5.002 0 018 7zm5-3a.75.75 0 000 1.5A1.5 1.5 0 0114.5 7 .75.75 0 0016 7a3 3 0 00-3-3z" clip-rule="evenodd" />
          </svg>            
        </div>
        <input type="password" name="new_password1" id="id_new_password1" class="w-full h-10 px-3 text-base placeholder-slate-400 text-slate-200 transition-colors duration-200 ease-in-out bg-slate-800 border border-slate-900/30 rounded-full shadow-inner shadow-slate-900/30 focus:outline-none focus:ring-1 focus:ring-amber-400 focus:ring-opacity-100 focus:border-transparent focus:ring-inset" placeholder="Pa$5w0rd" required=""></input>
      </div>
    </div>
    <span class="text-sm text-rose-400 leading-5">{{ form.new_password1.errors }}</span>
    <label for="id_new_password2">Confirm New Password<span class="text-rose-400">*</span></label>
    <div class="w-full my-2 rounded-full items-center justify-center bg-slate-800/50 shadow-slate-900/30 shadow-inner">
      <div class="flex items-center w-full">
        <div class="text-amber-400 px-2 items-center">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6">
            <path fill-rule="evenodd" d="M8 7a5 5 0 113.61 4.804l-1.903 1.903A1 1 0 019 14H8v1a1 1 0 01-1 1H6v1a1 1 0 01-1 1H3a1 1 0 01-1-1v-2a1 1 0 01.293-.707L8.196 8.39A5.002 5.002 0 018 7zm5-3a.75.75 0 000 1.5A1.5 1.5 0 0114.5 7 .75.75 0 0016 7a3 3 0 00-3-3z" clip-rule="evenodd" />
          </svg>            
        </div>
        <input type="password" name="new_password2" id="id_new_password2" class="w-full h-10 px-3 text-base placeholder-slate-400 text-slate-200 transition-colors duration-200 ease-in-out bg-slate-800 border border-slate-900/30 rounded-full shadow-inner shadow-slate-900/30 focus:outline-none focus:ring-1 focus:ring-amber-400 focus:ring-opacity-100 focus:border-transparent focus:ring-inset" placeholder="Pa$5w0rd" required=""></input>
      </div>
    </div>
    <span class="text-sm text-rose-400 leading-5">{{ form.new_password2.errors}}</span>
    
    <div class="w-full p-2">
      <button hx-post="{{ form_url }}" hx-target="#password_reset_box" hx-swap="outerHTML" class="p-1 my-4 w-full bg-slate-800 shadow-inner shadow-slate-900/40 ring-1 ring-slate-900/30 rounded-lg text-amber-400 font-semibold tk-rustica uppercase border border-amber-400 hover:bg-amber-900/60 hover:ease-in-out hover:duration-500" type="submit">
        <span class="text-amber-400">
          Change Password
        </span>
      </button>
    </div>
  </form>
</div>
  {% else %}
  <div class="m-4 relative flex justify-end align-end ml-auto w-full h-fit px-4 py-3 rounded-lg ring-1 ring-rose-300 shadow-rose-800/10 shadow-lg bg-rose-600/10">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="absolute -top-2 -left-2 fill-rose-900 stroke-rose-300 h-5 w-5 flex-none">
      <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.72 6.97a.75.75 0 10-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 101.06 1.06L12 13.06l1.72 1.72a.75.75 0 101.06-1.06L13.06 12l1.72-1.72a.75.75 0 10-1.06-1.06L12 10.94l-1.72-1.72z" clip-rule="evenodd" />
    </svg>
    <strong class="text-rose-200 font-semibold">Error!</strong>
    <p class="text-rose-300">The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
  </div>
{% endif %}  
</div>
{% endblock content %}

{% block footerScripts %}
<script>
  document.body.addEventListener('htmx:configRequest', (event) => {
    event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
  })
</script>
{% endblock footerScripts %}