{% extends 'base.html' %}

{% block title %}Schedule{% endblock title %}

{% block subheader %}
{% include '../subheader.html' with title=season %}
{% endblock %}

{% block content %}

    <div class="flex flex-col sm:flex-row flex-grow mt-12">
        <div class="flex flex-shrink-0 p-4">
            <div class="sticky flex-shrink p-4 min-w-fit w-full">
                {% if season %}
                <h1 class="text-center font-black text-3xl mb-2">
                    Active Divisions
                </h1>
                <ul class="flex sm:flex-col overflow-hidden content-center justify-between">
                    {% for division in active_divisions %}
                    <li><a href="{% url 'schedule' %}?division={{ division.id }}">{{ division }}</a></li>
                    {% endfor %}
                    <li><a href="{% url 'schedule' %}">View All</a></li>
                </ul>
            </div>
        </div>
        <div class="w-full h-full flex-grow p-3 overflow-auto">
            <div id="matchtable" class="col-auto p-3">
                {% if divisions|length > 1 %}
                    {% for division in divisions %}
                        {% include 'schedule/partials/match_list.html' %}
                    {% endfor %}
                {% else %}
                    {% with divisions as division %}
                        {% include 'schedule/partials/match_list.html' %}
                    {% endwith %}
                {% endif %}
            </div>
            {% else %}
            <h1>
                No active seasons.
            </h1>
            {% endif %}
        </div>
    {% endblock %}
