{% extends "base_sidebar.html" %}
{% block title %}
    Schedule
{% endblock title %}
{% block sidebar %}
    <div>
        <h1 class="font-black text-amber-500 text-xl mb-2">Active Divisions</h1>
        <ul class="text-sm space-y-1">
            {% for division in active_divisions %}
                <li class="text-slate-200 hover:underline hover:text-blue-400">
                    <a href="{% url 'schedule' %}?division={{ division.id }}">{{ division }}</a>
                </li>
            {% endfor %}
            <li class="text-slate-200 hover:underline hover:text-blue-400">
                <a href="{% url 'schedule' %}">View All</a>
            </li>
        </ul>
    </div>
{% endblock sidebar %}
{% block main_heading %}
    Season Schedule
{% endblock main_heading %}
{% block breadcrumb_1 %}
    Season {{ season.season_number }}
{% endblock breadcrumb_1 %}
{% block breadcrumb_2 %}
    {{ block.super }}
    {% if divisions %}
        {{ divisions }}
    {% else %}
        All Divisions
    {% endif %}
{% endblock breadcrumb_2 %}
{% block breadcrumb_3 %}
{% endblock breadcrumb_3 %}
{% block main %}
    <div class="pl-5">
        {% if matches|length > 0 %}
            {% for division in matches %}
                <div id="matchtable" class="m-3">{% include "./partials/match_list.html" with division=division %}</div>
            </div>
        {% endfor %}
    {% else %}
        <div id="matchtable" class="m-3">{% include "./partials/match_list.html" with division=matches %}</div>
    {% endif %}
{% endblock main %}
