{% extends base.html %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <h1>Atlanta Doubles Dart League</h1>
    <h2>Match Play Scoresheet</h2>
  </div>
  <form action="{% url 'Scores:new' match.id %}" method="post">
  {% csrf_token %}
  <div class="row d-flex">
    <fieldset>
      <div class="col">
        <legend><h3>{{ match.away_team }}</h3></legend>
      </div>
      <hr class="vr">
      <div class="col">
        <legend><h3>{{ match.home_team }}</h3></legend>
      </div>
    </fieldset>
  </div>
  </form>
</div>

{% endblock %}
