{% load static %}

<div class="flex flex-col w-full">
    <div x-data="selectConfigs()" x-init="fetchOptions()" class="w-full rounded-lg items-center m-2 bg-clip-padding backdrop-filter backdrop-blur-sm bg-primary-100 bg-opacity-20 border-primary-100 shadow-indigo-300 shadow-sm">
        <div @click.away="close()" class="inline-flex items-center w-full">
            <input 
                id="{{ form.player.id_for_label }}"
                name="{{ form.player.html_name }}"
                x-model="filter"
                x-transition:leave="transition ease-in duration-100"
                x-transition:leave-start="opacity-100"
                x-transition:leave-end="opacity-0"
                x-cloak 
                @click.inside="open()"
                @keydown.enter.stop.prevent="selectOption()"
                @keydown.arrow-up.prevent="focusPrevOption()"
                @keydown.arrow-down.prevent="focusNextOption()"
                class="appearance-none inline-flex bg-transparent m-2 pl-2 w-full text-gray-800"></input>
            <div class="text-gray-300 w-8 m-2 pl-2 pr-1 items-center">
                <button @click="toggle()" class="w-6 h-6 text-gray-600 outline-none focus:outline-none" type="button">
                  <svg  xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline x-show="isOpen()" points="18 15 12 9 6 15"></polyline>
                    <polyline x-show="!isOpen()" points="18 15 12 20 6 15"></polyline>
                  </svg>
                </button>
            </div>
        </div>
        <div x-show="isOpen()" class="relative w-full rounded-lg z-50 overflow-y-auto shadow-indigo-200 shadow-sm bg-clip-padding backdrop-filter backdrop-blur-sm bg-primary-100 bg-opacity-20 border-primary-200">
            <div class="flex flex-col w-full">
                <template x-for="(option, index) in filteredOptions()" :key="index">
                    <div @click="onOptionClick(index)" class="mx-2 my-2 rounded-lg hover:bg-primary-200 hover:bg-opacity-40">
                        <div class="p-2 tk-rustica text-left">
                          <span x-text="option.first_name + ' ' + option.last_name"></span>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
</div>
