<div class="grid grid-flow-row gap-2 mb-10">
    <div class="row-span-1 inline-flex">
      <h3 class="text-amber-400 text-lg font-black mr-4">{% if team == "away" %}Away{%else%}Home{% endif %} Player {{ forloop.counter }}</h3>
      <h4 class="text-slate-400 text-lg">{% if team == "away" %}{{ match.awayTeam.name }}{%else%}{{ match.homeTeam.name }}{% endif %}</h4>
    </div>
    {{ form.match }}
    {{ form.team }}
    {% if form.non_field_errors %}
    {% include './components/error.html' with message=form.non_field_errors %}
    {% endif %} 
    <div class="row-span-4 my-2" x-data="addSub()">
      <div class="row-span-2 w-full items-center inline-flex">
      <label for="{{ form.player.id_for_label }}" class="font-medium text-slate-200">Select Player<span class="text-rose-400">*</span></label>
      <div class="mx-2 flex-grow">
        {{ form.player }}
      </div>
      <div class="hs-tooltip inline-block" x-show="!isOpen()">
        <button id="addSubButton" type="button" class="hs-tooltip-toggle" @click="toggle()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" stroke-width="1.5" stroke="currentColor" class="fill-sky-800 stroke-sky-400 w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z" />
          </svg>
          <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-600 text-xs font-medium text-white rounded-md shadow-sm" role="tooltip">
            Create Player
          </span>
        </button>
      </div>   
      <div class="hs-tooltip inline-block" x-show="isOpen()">
        <button id="removeSubButton" type="button" class="hs-tooltip-toggle" @click="toggle()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-rose-400 fill-rose-800">
            <path stroke-linecap="round" stroke-linejoin="round" d="M22 10.5h-6m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z" />
          </svg>          
          <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-600 text-xs font-medium text-white rounded-md shadow-sm" role="tooltip">
             Remove Player
          </span>
        </button>
      </div>   
    </div>
    <div class="text-sm !text-rose-400">{{ form.player.errors }}</div>
    <div id="addSub-{{ forloop.counter0 }}" class="w-full px-2 items-stretch justify-stretch space-x-2 inline-flex" x-show="isOpen()">
      <div class="flex-grow">
        <label for="{{ form.first_name.id_for_label }}" class="text-sm font-medium text-slate-400">Sub First Name<span class="text-rose-400">*</span></label>
        <div class="mt-1">{{ form.first_name }}</div>
        <div class="text-sm !text-rose-400">{{ form.first_name.errors }}</div>
      </div>
      <div class="flex-grow">
        <label for="{{ form.last_name.id_for_label }}" class="text-sm font-medium text-slate-400">Sub Last Name<span class="text-rose-400">*</span></label>
        <div class="mt-1">{{ form.last_name }}</div>
        <div class="text-sm !text-rose-400">{{ form.last_name.errors }}</div>
      </div>
      <div class="flex-shrink place-self-end">
        <button id="addSubBtn-{{ forloop.counter0 }}" type="button" class="hs-tooltip mb-2" @click=" collectData(); ">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" stroke-width="1.5" class="stroke-emerald-400 !fill-emerald-800 w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z" />
          </svg>
          <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-600 text-xs font-medium text-white rounded-md shadow-sm" role="tooltip">
            Save
         </span>
        </button>
      </div>
    </div>
  </div>
    <div class="row-span-7 mt-2">
      <h4 class="row-span-1 text-slate-200 font-bold place-self-start">Singles 501</h4>
      <h4 class="row-span-1 text-sm font-bold place-self-start">Game 1</h4>
      <fieldset class="row-span-2 mx-2 grid grid-flow-col grid-cols-2 gap-2 md:gap-5">
        <div class="col-span-1">
          <label for="{{ form.darts_thrown1.id_for_label }}" class="text-sm font-medium text-slate-400">Darts Thrown<span class="text-rose-400">*</span></label>
          <div class="mt-1">{{ form.darts_thrown1 }}</div>
          <p class="text-sm text-rose-400">{{ form.darts_thrown1.errors }}</p>
        </div>
        <div class="col-span-1">
          <label for="{{ form.score_left1.id_for_label }}" class="text-sm font-medium text-slate-400">Score Left<span class="text-rose-400">*</span></label>
          <div class="mt-1">{{ form.score_left1 }}</div>
          <div class="text-sm text-rose-400">{{ form.score_left1.errors }}</div>
        </div>
      </fieldset>    
      <div class="row-span-1 mb-6">
      <h4 class="text-slate-200 text-sm font-bold place-self-start">Game 2</h4>
      <fieldset class="row-span-2 mx-2 grid grid-flow-col grid-cols-2 gap-2 md:gap-5">
        <div class="col-span-1">
          <label for="{{ form.darts_thrown2.id_for_label }}" class="text-sm font-medium text-slate-400">Darts Thrown<span class="text-rose-400">*</span></label>
          <div class="mt-1">{{ form.darts_thrown2 }}</div>
          <div class="text-sm text-rose-400">{{ form.darts_thrown2.errors }}</div>
        </div>
        <div class="col-span-1">
          <label for="{{ form.score_left2.id_for_label }}" class="text-sm font-medium text-slate-400">Score Left<span class="text-rose-400">*</span></label>
          <div class="mt-1">{{ form.score_left2 }}</div>
          <div class="text-sm text-rose-400">{{ form.score_left2.errors }}</div>
        </div>
      </fieldset>
    </div>
    <div class="row-span-7 mt-2">
      <h4 class="row-span-1 text-slate-200 font-bold place-self-start">All Games</h4>
      <fieldset class="row-span-2 mx-2 grid grid-flow-col grid-cols-2 gap-2 md:gap-5">
        <div class="col-span-1">
          <label for="{{ form.high_in.id_for_label }}" class="text-sm font-medium text-slate-400">Player's Highest In</label>
          <div class="mt-1">{{ form.high_in }}</div>
          <div class="text-sm text-rose-400">{{ form.high_in.errors }}</div>
        </div>
        <div class="col-span-1">
          <label for="{{ form.high_out.id_for_label }}" class="text-sm font-medium text-slate-400">Player's Highest Out</label>
          <div class="mt-1">{{ form.high_out }}</div>
          <div class="text-sm text-rose-400">{{ form.high_out.errors }}</div>
        </div>
      </fieldset>
      <fieldset class="row-span-2 mx-2 grid grid-flow-col grid-cols-2 gap-2 md:gap-5">
        <div class="col-span-1">
          <label for="{{ form.total_stars.id_for_label }}" class="text-sm font-medium text-slate-400">Total Stars</label>
          <div class="mt-1">{{ form.total_stars }}</div>
          <div class="text-sm text-rose-400">{{ form.total_stars.errors }}</div>
        </div>
        <div class="col-span-1">
          <label for="{{ form.total_perfects.id_for_label }}" class="text-sm font-medium text-slate-400">Total Perfects</label>
          <div class="mt-1">{{ form.total_perfects }}</div>
          <div class="text-sm text-rose-400">{{ form.total_perfects.errors }}</div>
        </div>
      </fieldset>
      <fieldset class="row-span-2 mx-2 grid grid-flow-col grid-cols-2 gap-2 md:gap-5">
        <div class="col-span-1">
          <label for="{{ form.singles_points.id_for_label }}" class="text-sm font-medium text-slate-400">Singles Game Points<span class="text-rose-400">*</span></label>
          <div class="mt-1">{{ form.singles_points }}</div>
          <div class="text-sm text-rose-400">{{ form.singles_points.errors }}</div>
        </div>
        <div class="col-span-1">
          <label for="{{ form.doubles_points.id_for_label }}" class="text-sm font-medium text-slate-400">Doubles Game Points<span class="text-rose-400">*</span></label>
          <div class="mt-1">{{ form.doubles_points }}</div>
          <div class="text-sm text-rose-400">{{ form.doubles_points.errors }}</div>
      </fieldset>
    </div>
  </div>