{% load tailwind_filters %}

<div hx-target="this" hx-swap="outerHTML">
  <div class="relative z-30" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <!--
      Background backdrop, show/hide based on modal state.
        Entering: "ease-out duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100"
          To: "opacity-0"
      -->
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
      
    <div class="fixed z-40 inset-0 overflow-y-auto">
      <div class="flex items-center sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
        <!--
          Modal panel, show/hide based on modal state.          
            Entering: "ease-out duration-300"
              From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
              To: "opacity-100 translate-y-0 sm:scale-100"
            Leaving: "ease-in duration-200"
              From: "opacity-100 translate-y-0 sm:scale-100"
              To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        -->
        <div class="relative bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all w-2/3">
          <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            <div class="flex-auto">
              <div class="mt-3 text-center">
                <h3 class="text-lg font-extralight tk-objektiv-mk2 uppercase text-gray-900" id="modal-title">Register Division</h3>
              </div>
              <div class="mt-2">
                <form class="" method="POST">
                  {% csrf_token %}
                  <div class="flex flex-col">
                  {{ form|crispy }}
                  </div>
                  <div class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-slate-200 rounded-b-md">
                    <button type="button" class="btn-outer" id="closeButton" _="on click take .uk-open from #modal wait 200ms then remove #modal">
                      <span class="btn-inner">
                        Close
                      </span>
                    </button>
                    <button class="btn-outer" type="submit" hx-post=".">
                      <span class="btn-inner">
                        Submit
                      </span>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>