<div class="w-full mb-10 justify-center items-center rounded-lg shadow-xl bg-slate-800 shadow-slate-900/30 border border-amber-500 p-1">
    <h3 class="text-slate-300 text-xl md:text-2xl font-black p-2 leading-6">{{ division }} Standings</h3>
    <div>
        <table id="area{{ division.area.number }}Standings" class="p-1 w-full">
            <thead class="text-sm text-amber-400 tk-objektiv-mk2 uppercase bg-slate-800 border-b border-slate-900/30">
                <tr>
                    <th scope="col" class="p-2 font-light">Team</th>
                    {% for week in season.num_weeks_regular_season %}
                    <th scope="col" class="p-2 font-light">Week {{ week }}</th>
                    {% endfor %}
                    <th scope="col" class="p-2 font-light">Total</th>
                </tr>
            </thead>
            <tbody>
            {% for team in teams %}
            {% if team.division == division %}
                <tr class="bg-slate-700 text-slate-200 border-b border-slate-800 hover:bg-slate-700/50">
                    <td class="p-2 text-sm text-center">{{ team.name }}</td>
                    {% for week in season.num_weeks_regular_season %}
                        <td class="p-2 text-sm text-center">{% if week == team.week %}{{ team.weekly_points }}{% endif %}</td>
                    {% endfor %}
                    <td class="p-2 text-sm text-center">{{ team.total_points }}</td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>        

