{% extends 'base.html' %}

{% block title %}Scoresheet{% endblock title %}

{% block content %}
<div class="container">
    <div class="tk-objective-mk2 font-extrabold text-2xl">
      <h1>Atlanta Doubles Dart League</h1>
    </div>
    <div class="tk-objective-mk2 font-normal text-lg">
      <h2>Match Play Scoresheet</h2>
    </div>
    {% csrf_token %}
    <form action="{% url 'Scores:add' match.id %}" method="post">
    <div class="row d-flex">
      <fieldset>
        <div class="col">
          <legend><h3>{{ match.away_team }}</h3></legend>
        </div>
        <hr class="vr">
        <div class="col">
          <legend><h3>{{ match.home_team }}</h3></legend>
        </div>
      </fieldset>
    </div>
    </form>
  </div>
{% endblock content %}