{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="grid grid-cols-[175px_minmax(0,_1fr)] justify-items-stretch w-full">
       
        <!-- Sidebar -->
        
        <aside class="z-10 pt-6 pr-2 fixed w-fit h-full md:flow-root md:w-auto backdrop-blur bg-slate-800/50 md:col-start-1 md:col-span-1 border-r border-r-slate-700 md:justify-content-end"> 
            <button id="show-sidebar" type="button" class="text-amber-400 md:hidden">
                <svg id="show-sidebar-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 15.75l-2.489-2.489m0 0a3.375 3.375 0 10-4.773-4.773 3.375 3.375 0 004.774 4.774zM21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>                      
            </button>
            <div id="sidebar" class="hidden md:block md:justify-self-end"> 
                <button id="hide-sidebar" type="button" class="text-amber-400 md:hidden">
                    <svg id="close-sidebar-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5" />
                    </svg>
                </button>
                {% block sidebar %}
                {% endblock sidebar %}
            </div>
        </aside>
        
        <!-- Main Content -->

        <div class="ml-6 md:ml-0 pl-2 md:pl-0 pt-6 md:col-start-2 col-span-2 h-fit overflow-y-scroll">
            {% block main %}
            {% endblock main %}
        </div>
    </div>
{% endblock content %}


{% block footerScripts %}
<script src="{% static 'js/sidebar.js' %}"></script>
{% endblock footerScripts %}