{% load static %}
<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />        
    
    <title>ADDL | {% block title %}Portal{% endblock title %}</title>
    
    <script src='https://js.sentry-cdn.com/029ebd70cdbb4da78e1db1f5712cb6c1.min.js' crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.typekit.net/ptc0kya.css">
    <link rel="icon" href="{% static 'images/favicon.ico'%}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    
    {% block headerScripts %}
    {% endblock headerScripts %}
 
  </head>

  <body class="flex min-h-screen flex-col justify-center bg-gray-800 antialiased">
    <header class="fixed top-0 z-40 flex w-full border-b border-slate-500/30 bg-slate-900/40 backdrop-blur shadow">
      <div class="w-full flex-wrap items-center justify-between text-center pt-4 pb-2 px-2 md:px-6 md:inline-flex ">
        <p class="font-sans text-3xl font-black text-amber-400 -tracking-widest">
          <a href="{% url 'home' %}">ADDL</a>
        </p>
        <div class="text-slate-300 -mb-2">
          <ul class="inline-flex justify-around uppercase">
            <li class="hover:text-amber-300 px-1">
              <a href="{% url 'home' %}" 
                {% if request.resolver_match.url_name == 'home' %}
                class="nav-link-active" aria-current="page"
                {% else %}
                class="nav-link-inactive"
                {% endif %}
              >Home</a>
            </li>
            <li class="hover:text-amber-300 px-1">
              <a href="{% url 'all_areas' %}" 
                {% if 'locations' in request.resolver_match.route %}
                class="nav-link-active" aria-current="page"
                {% else %}
                class="nav-link-inactive"
                {% endif %}
              >Meet</a>
            </li>
            <li class="hover:text-amber-300 px-1">
              <a href="{% url 'schedule' %}" 
                {% if 'schedule' in request.resolver_match.route %}
                class="nav-link-active" aria-current="page"
                {% else %}
                class="nav-link-inactive"
                {% endif %}
              >Play</a>
            </li>
            <li class="hover:text-amber-300 px-1">
              <a href="{% url 'standings' %}" 
                {% if 'scores' in request.resolver_match.route %}
                class="nav-link-active" aria-current="page"
                {% else %}
                class="nav-link-inactive"
                {% endif %}
              >Win</a>
            </li>
            <li class="hover:text-amber-300 px-1">
              {% if user.is_authenticated %}
                <a href="{% url 'profile' %}" 
                  {% if 'members' in request.resolver_match.route %}
                  class="nav-link-active" aria-current="page"
                  {% else %}
                  class="nav-link-inactive"
                  {% endif %}
                >{{ user.username }}</a>
                {% else %}
                <a href="{% url 'login' %}" 
                  {% if 'members' in request.resolver_match.route %}
                  class="nav-link-active" aria-current="page"
                  {% else %}
                  class="nav-link-inactive"
                  {% endif %}
                >Login</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    {% comment %}
      <div class="relative  z-30">  
        {% block subheader %}{% endblock subheader %}
      </div>
    {% endcomment %}
    </header>
    
    <main class="flex w-full mx-auto offset-y-auto min-h-screen py-5 px-6 md:px-4 max-w-7xl justify-center items-start">
        {% block content %} 
        {% endblock %}
    </main>

    <div class="static bottom-0 mt-auto w-screen justify-end bg-slate-900 p-8">
      <div class="text-center tk-rustica py-3 text-xs flex-nowrap">
        <p class="text-gray-400">
          &copy;2022 Atlanta Doubles Dart League &middot; All Rights Reserved
        </p>
        <p>
          <a href="{% url 'privacy' %}" class="text-cyan-300 hover:text-amber-300 hover:underline">Privacy Policy</a>
          <span class="text-gray-300"> | </span>
          <a href="{% url 'terms' %}" class="text-cyan-300 hover:text-amber-300 hover:underline">Terms of Service</a>
          <span class="text-gray-300"> | </span>
          <a href="#" class="text-cyan-300 hover:text-amber-300 hover:underline">Contact Us</a>
        </p>
      </div>
    </div>
  
  
  {% block footerScripts %}
  {% endblock footerScripts %}
  </body>
</html>
