{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100 overscroll-none">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />        
    
    <title>ADDL | {% block title %}Portal{% endblock title %}</title>
    
    <link rel="stylesheet" href="https://use.typekit.net/ptc0kya.css">
    <link rel="icon" href="{% static 'images/favicon.ico'%}" type="image/x-icon">
    
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    
    {% block headerScripts %}
    {% endblock headerScripts %}
 
  </head>

  <body class="w-full h-full">
    <header class="bg-primary-900 sticky top-0 z-50 pt-2 pb-1 h-16 border-b border-slate-300 shadow-lg shadow-primary-400/30">
      <div class="flex justify-between">
        <a class="tk-rig-solid-bold-halftone mx-auto flex-shrink" href="{% url 'home' %}">
          <span class="text-5xl text-amber-500">
            ADDL
          </span>
        </a>
      <div class="flex mx-auto items-end space-x-3 tk-objektiv-mk2 uppercase text-sm font-normal text-primary-200 -mb-px">
          <div class="mx-2">
              <a href="{% url 'home' %}" 
              {% if request.resolver_match.url_name == 'home' %}
              class="nav-link-active" aria-current="page"
              {% else %}
              class="nav-link-inactive"
              {% endif %}
              >Home</a>
          </div>
          <div class="mx-2">
              <a href="{% url 'all_areas' %}" 
              {% if 'locations' in request.resolver_match.route %}
              class="nav-link-active" aria-current="page"
              {% else %}
              class="nav-link-inactive"
              {% endif %}>Meet</a>
          </div>
          <div class="mx-2">
            <a href="{% url 'schedule' %}" 
            {% if 'schedule' in request.resolver_match.route %}
            class="nav-link-active" aria-current="page"
            {% else %}
            class="nav-link-inactive"
            {% endif %}>Play</a>
          </div>
          <div class="mx-2">
            <a href="{% url 'standings' %}" 
            {% if 'scores' in request.resolver_match.route %}
            class="nav-link-active" aria-current="page"
            {% else %}
            class="nav-link-inactive"
            {% endif %}>Win</a>
          </div>

          <div class="mx-2">
              {% if user.is_authenticated %}
              <a href="{% url 'profile' %}" 
                {% if 'members' in request.resolver_match.route %}
                class="nav-link-active" aria-current="page"
                {% else %}
                class="nav-link-inactive"
                {% endif %}>
                {{ user.username }}
              </a>
              {% else %}
              <a href="{% url 'login' %}" 
                {% if 'members' in request.resolver_match.route %}
                class="nav-link-active" aria-current="page"
                {% else %}
                class="nav-link-inactive"
                {% endif %}>
                Login
              </a>
              {% endif %}
          </div>
      </div>
    </div>
    {% block subheader %}{% endblock subheader %}
    </header>

    <main class="flex flex-col flex-grow mx-auto my-14 items-stretch min-h-full py-5 px-6 md:px-4 max-w-7xl align-middle justify-start">
      {% block content %} 
      {% endblock %}
    </main>

    <div class="mt-auto justify-end bg-primary-900 p-8">
      <div class="text-center tk-rustica py-3">
        <p class="text-white">
          &copy;2022 Atlanta Doubles Dart League &middot; All Rights Reserved
        </p>
        <p>
          <a href="{% url 'privacy' %}" class="text-primary-200 hover:text-amber-300 hover:underline">Privacy Policy</a>
          <span class="text-white"> | </span>
          <a href="{% url 'terms' %}" class="text-primary-200 hover:text-amber-300 hover:underline">Terms of Service</a>
          <span class="text-white"> | </span>
          <a href="#" class="text-primary-200 hover:text-amber-300 hover:underline">Contact Us</a>
        </p>
      </div>
    </div>
  
  
  {% block footerScripts %}
  {% endblock footerScripts %}
  </body>
</html>
