{% extends 'base.html' %}

{% block title %}Locations{% endblock %}

{% block content %}
<div class="container">
  <div class="row p-2">
    <h1 class="tk-rig-solid-bold-halftone text-5xl pt-2">Locations</h1>
  </div>
  {% if all_areas %}
  {% for area in all_areas %}
  <div class="flex justify-center">
    <div class="block p-2 pb-5 rounded-lg shadow-lg shadow-indigo-500/50 bg-white max-w-sm">
      <p class="text-gray-700 text-base tk-objektiv-mk2 font-light uppercase">
        Area {{ area.number }}
      </p>
      <h5 class="text-gray-900 text-2xl leading-tight font-extrabold mb-2 tk-rustica">{{ area.name }}</h5>
      <p class="text-gray-700 text-base mb-4 tk-objektiv-mk2 font-light flex-wrap">
        {{ area.get_address }}
      </p>
      <div class="justify-evenly inline">
        <a href="{% url 'area' area.id %}">
          <button type="button" class="inline-block z-10 items-center p-1 text-sm text-indigo-600 bg-indigo-100 border border-indigo-500 rounded-full shadow-md shadow-indigo-500/30 focus:border-blue-500 focus:ring-opacity-40 hover:shadow-indigo-600/50 hover:bg-indigo-600 hover:text-white">
            More Info
          </button>
        </a>
        <a href="#">
          <button type="button" class="inline-block z-10 items-center p-1 text-sm text-indigo-600 bg-indigo-100 border border-indigo-500 rounded-full shadow-md shadow-indigo-500/30 focus:border-blue-500 focus:ring-opacity-40 hover:shadow-indigo-600/50 hover:bg-indigo-600 hover:text-white">
            Schedule
          </button>
        </a>
        <a href="#">
          <button type="button" class="inline-block z-10 items-center p-1 text-sm text-indigo-600 bg-indigo-100 border border-indigo-500 rounded-full shadow-md shadow-indigo-500/30 focus:border-blue-500 focus:ring-opacity-40 hover:shadow-indigo-600/50 hover:bg-indigo-600 hover:text-white">
            Standings
          </button>
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
      {% else %}
      <p>No establishments found.</p>
    </div>
    {% endif %}
  </div>
</div>
  
{% endblock %}