{% extends 'base.html' %}

{% block title %}Locations{% endblock %}

{% block content %}
<div class="justify-center">
  <div class="row p-2">
    <h1 class="tk-rig-solid-bold-halftone text-center text-5xl pt-2">Locations</h1>
  </div>
  {% if all_areas %}
  {% for area in all_areas %}
  <div class="flex justify-center">
    <div class="block p-2 pb-5 rounded-lg shadow-lg shadow-indigo-500/50 bg-white max-w-sm">
      <p class="text-gray-700 text-base tk-objektiv-mk2 font-light uppercase">
        Area {{ area.number }}
      </p>
      <h5 class="text-gray-900 text-2xl leading-tight font-extrabold mb-2 tk-rustica">{{ area.name }}</h5>
      <p class="text-gray-700 text-base mb-4 tk-objektiv-mk2 font-light flex-wrap">
        {{ area.get_address }}
      </p>
      <div class="relative flex min-w-full justify-center">
        <a href="{% url 'area' area.id %}">
          <button type="button" class="col-auto p-[2px] rounded-full bg-gradient-to-tr from-indigo-600 via-pink-500 to-orange-500 hover:text-white active:text-opacity-75 focus:outline-none focus:ring">
            <span class="block p-2 tk-objektiv uppercase text-sm font-light bg-white rounded-full hover:bg-transparent">
              More Info
            </span>
          </button>
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
      {% else %}
      <p>No establishments found.</p>
    </div>
    {% endif %}
  </div>
</div>
  
{% endblock %}