{% extends 'base.html' %} 

{% block content %}
<div class="flex flex-row my-8 align-middle max-w-screen-xl flex-wrap justify-center">
  <div class="text-center lg:flex-shrink">
    <h1 class="text-8xl tk-rustica font-black lg:text-9xl" style="white-space: pre-line">ATLANTA
        DOUBLES
        DART
        LEAGUE
    </h1>
  </div>
  <div class="container flex flex-col max-h-[500px] overflow-scroll bg-gradient-to-br from-primary-600 to-primary-900 rounded-lg m-4 p-4 shadow-lg shadow-violet-500/40">
    <div class="items-center rounded-lg bg-gradient-to-br max-h-full  from-white/20 to-white/30 p-2">
      <div class="overflow-x-scroll scroll-smooth">
        {% if announcement_list %}
        {% for item in announcement_list %}
          <div class="flex-wrap overflow-scroll my-2 p-3 border-l-2 border-lime-300">
            <p class="font-semibold text-left text-primary-50">{{ item.title|title }}</p>
            <p class="text-xs text-primary-200">{{ item.date_created|date:"m d y" }}</p>
            <p class="font-normal text-left text-sm text-primary-100 pl-3">{{ item.body }}</p>
            <p class="text-xs text-right text-primary-200 italic">{{ item.created_by.first_name|title }} {{ item.created_by.last_name|title }} </p>
          </div>
        {% endfor %}
        {% else %}
          <div class="flex-wrap my-2 p-3 border-l-2 border-lime-300">
            <p class="font-normal text-left text-primary-100">
              Currently No Announcements
            </p>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
    


{% endblock %}
