{% extends 'base.html' %}

{% block title %}Schedule{% endblock title %}

{% block content %}
{% csrf_token %}
{% if season %}
<h1 class="text-center font-black text-2xl pt-3">
    Season {{ season.seasonNum }}
</h1>
<ul>
{% for division in active_divisions %}
<li><a href="{% url 'schedule' %}?division={{ division.id }}">{{ division }}</li>
{% endfor %}
</ul>
<div id="matchtable" class="p-3">
    {% if divisions|length > 1 %}
        {% for division in divisions %}
            {% include 'partials/match_list.html' %}
        {% endfor %}
    {% else %}
        {% with divisions as division %}
            {% include 'partials/match_list.html' %}
        {% endwith %}
    {% endif %}
</div>
{% else %}
<h1>
    No active seasons.
</h1>
{% endif %}
{% endblock %}
