{% extends 'base.html' %}

{% block content %}
{% if season %}
<h1 class="text-center font-black text-xl pt-3">
    Season {{ season.seasonNum }}
</h1>
{% for division in divisions %}
<h2 class="pb-2 pt-5 text-center text-lg tk-objektiv-mk2 uppercase font-light">{{ division }}</h2>
<div class="relative overflow-x-auto shadow-lg shadow-indigo-600/40">
    <table class="w-full">
        <thead class="text-xs text-white tk-objektiv-mk2 uppercase bg-indigo-800">
            <tr>
                <th scope="col" class="px-4 py-3 font-light">Week</th>
                <th scope="col" class="px-4 py-3 font-light">Match Date</th>
                <th scope="col" class="px-4 py-3 font-light">Away Team</th>
                <th scope="col" class="px-4 py-3 font-light">Home Team</th>
                <th scope="col" class="px-4 py-3 font-light">Boards</th>
                <th scope="col" class="px-4 py-3 font-light">Results</th>
            </tr>
        </thead>
        <tbody>
        {% for match in division.match_set.all %}
            <tr class="bg-white border-b hover:bg-slate-50">
                <td scope="row" class="px-4 py-2 font-medium text-slate-800 whitespace-nowrap">{{match.weekNum}}</td>
                <td scope="row" class="px-4 py-2 text-center">{{match.matchDate}}</td>
                <td scope="row" class="px-4 py-2 text-center">{{match.awayTeam}}</td>
                <td scope="row" class="px-4 py-2 text-center">{{match.homeTeam}}</td>
                <td scope="row" class="px-4 py-2 text-center">{{match.boards}}</td>
                <td scope="row" class="px-4 py-2 text-center">
                    {% if match.teamscore_set %}
                    <span>{{ match.winner }}</span>
                    {% else %}
                    <a href="{% url 'add_scoresheet' match.id %}" class="font-medium text-indigo-500 underline">
                        Enter Scores
                    </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}
{% else %}
<h1>
    No active seasons.
</h1>
{% endif %}
{% endblock %}
