<div class="flex flex-row flex-grow">
  <button type="button" class="btn-outer" data-bs-toggle="modal" data-bs-target="#addAnnouncementModal">
    <span class="tk-objektiv btn-inner">
      Create Announcement
    </span>
  </button>
</div>
  
  <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto" id="addAnnouncementModal" tabindex="-1" aria-labelledby="addAnnouncementModal" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered relative w-auto pointer-events-none">
      <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
        <div class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
          <h5 class="text-xl font-medium leading-normal text-gray-800" id="addAnnouncementModalLabel">
            New Announcement
          </h5>
          <button type="button"
            class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
            data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body relative p-4">
          <p>{{ form }}</p>
        </div>
        <div
          class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
          <button type="button" class="col-auto btn-outer" data-bs-dismiss="modal">
            <span class="btn-inner">
              Close
            </span>
          </button>
          <button type="submit"
            class="inline-block p-[2px] rounded-full bg-gradient-to-br from-violet-500 via-rose-500 to-amber-500 hover:text-white active:text-opacity-75 focus:outline-none focus:ring transition duration-150 ease-in-out ml-1">
            <span class="block px-3 py-3 tk-objektiv uppercase text-sm font-light bg-white rounded-full hover:bg-transparent">
                Save
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
  