<div class="w-full mb-10 justify-center align-center rounded-lg shadow-xl bg-slate-800 shadow-slate-900/30 border border-amber-500 p-1">
    <h2 class="text-slate-400 text-xl md:text-2xl font-black p-2 leading-6">
        {% if division %}{{ division.div_name }}{% endif %}
    </h2>
    <div class="w-full overflow-x-scroll">
        {% if division.weeks|length > 0 %}
            <table class="p-1 w-full">
                <thead class="text-amber-400 tk-objektiv-mk2 uppercase bg-slate-800 border-b border-slate-900/30 sticky">
                    <tr>
                        <th id="week" class="p-2 font-light">Week</th>
                        <th id="date" class="p-2 font-light">Match Date</th>
                        <th id="away" class="p-2 font-light">Away Team</th>
                        <th id="home" class="p-2 font-light">Home Team</th>
                        <th id="results" class="p-2 font-light">Results</th>
                    </tr>
                </thead>
                <tbody>
                    {% for week in division.weeks %}
                        <tr class="text-sm bg-slate-700 text-slate-300 border-b border-b-slate-500 border-t border-t-amber-800 ">
                            <th id="trWeek{{ forloop.counter }}"
                                rowspan="{{ week.matches|length }}"
                                class="p-1 text-center border-t border-t-amber-800">{{ week.week_num }}</th>
                            <th id="trDate{{ forloop.counter }}"
                                rowspan="{{ week.matches|length }}"
                                class="p-1 text-center border-t border-t-amber-800">{{ week.date }}</th>
                            {% for match in week.matches %}
                                {% if not forloop.first %}
                                    <tr class="text-sm bg-slate-700 text-slate-300 border-b border-slate-500 ">
                                    {% endif %}
                                    <td headers="away trWeek{{ forloop.parentloop.counter }} trDate{{ forloop.parentloop.counter }}"
                                        class="p-1 text-center align-center items-center
                                               {% if forloop.first %}border-t border-t-amber-800{% endif %}">{{ match.away_team }}</td>
                                    <td headers="home trWeek{{ forloop.parentloop.counter }} trDate{{ forloop.parentloop.counter }}"
                                        class="p-1 text-center align-center items-center
                                               {% if forloop.first %}border-t border-t-amber-800{% endif %}">{{ match.home_team }}</td>
                                    <td headers="results trWeek{{ forloop.parentloop.counter }} trDate{{ forloop.parentloop.counter }}"
                                        class="p-1 text-center align-center items-center content-center
                                               {% if forloop.first %}border-t border-t-amber-800{% endif %}">
                                        <a href="{% url 'add_scoresheet' match.id %}"
                                        {% if match.status == "Missing" %}
                                            class="text-sm mx-1 px-2 content-center align-center inline-flex items-center rounded-full tk-rustica uppercase">
                                            <span class="text-xs text-cyan-400 underline underline-offset-1">ENTER</span>
                                        {% else %}
                                           class="group mx-1 px-2 content-center align-center inline-flex items-center rounded-full tk-rustica uppercase hover:ring-1
                                                  {% if "Home" in match.status %}
                                                      bg-emerald-900/75 hover:ring-emerald-300
                                                  {% elif "Away" in match.status %}
                                                      bg-blue-900/75 hover:ring-blue-300
                                                  {% elif match.status == "Draw" %}
                                                      bg-amber-900/75 hover:ring-amber-300
                                                  {% endif %}
                                                  hover:ease-in-out hover:duration-150">
                                            <p class="text-sm
                                                         {% if "Home" in match.status %}
                                                             text-emerald-300 group-hover:text-emerald-200
                                                         {% elif "Away" in match.status %}
                                                             text-blue-300 group-hover:text-blue-200
                                                         {% elif match.status == "Draw" %}
                                                             text-amber-400 group-hover:text-amber-200
                                                         {% endif %}">{{ match.status|safe }}
                                            </p>
                                        {% endif %}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="p-2 bg-slate-700 text-slate-200 border-b border-slate-800">No matches scheduled yet.</div>
    </div>
{% endif %}
