<div id="errorBoxMain" class="fixed backdrop-blur inset-y-auto right-2 mt-3w-fit md:w-1/3 p-2 h-fit rounded-lg ring-1 ring-rose-300/60 shadow-rose-800/10 shadow-lg bg-rose-800/10">
  <button type="button" data-hs-remove-element="#errorBoxMain" class="relative -inset-4 inline-block">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class=" fill-rose-900 stroke-rose-300 h-5 w-5 flex-none">
      <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.72 6.97a.75.75 0 10-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 101.06 1.06L12 13.06l1.72 1.72a.75.75 0 101.06-1.06L13.06 12l1.72-1.72a.75.75 0 10-1.06-1.06L12 10.94l-1.72-1.72z" clip-rule="evenodd" />
    </svg>
  </button>
  <strong class="text-rose-400 font-semibold">Error!&nbsp</strong>
  <p class="pl-1 font-normal text-rose-200">{{ message }}</p>
 </div>