<div x-data="{ open : true }" x-show="open"  class="px-2 pb-2 backdrop-blur h-fit w-full rounded-lg ring-1 ring-emerald-300/60 shadow-emerald-800/10 shadow-lg bg-emerald-600/10 text-emerald-300">
  <div class="inline-flex justify-between w-full my-2">
    <p class="text-emerald-400 font-semibold">Success!</p>
    <button type="button" @click="open = ! open">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>    
    </button>
  </div>
  <div class="w-full mb-2">
    <p class="text-emerald-300 text-sm">{{ message }}</p>
  </div>
</div>