{% extends 'base.html' %}
{% load humanize %}

{% block title %}{{ area }}{% endblock %}

{% block subheader %}
{% include '../subheader.html' with title=area %}
{% endblock %}

{% block content %}

<div id="divisionForm"></div>

<div class="flex flex-col align-middle mt-12">
  <div class="block">
  </div>
  {% for division in area.division_set.all %}
  <h1 class="font-black py-2 tk-rustica text-4xl leading-4">{{ division.matchNight }}</h1>
  <div class="flex-col m-2 border-t-2 justify-around align-middle border-violet-500">
    <div class="flex-shrink">
      <div class="">{{ division.divisionManager.first_name }} {{ division.divisionManager.last_name }}</div>
      <div class="">{{ division.divisionManager.phoneNumber.as_national }}</div>
      <div class="">Player Fee: ${{ division.playerFee|floatformat:2 }}</div>
      <div class="">Maximum Teams: {{ division.capacity }}</div>
    </div>
    <div class="flex flex-col">
      <div class="row pt-2 ms-1">Registered Teams:</div>
      {% for team in division.team_set.all %}
      <div class="row mx-1">
        <div class="col">{{ team }}</div>
        <div class="col text-end">{{ team.rating }}</div>
      </div>
        {% endfor %}
      </div>
      <div class="row my-3"></div>
    </div>
  </div>
  {% endfor %}
  <br>
  <br>
  <div class="row">
    <div class="col-4">
      <button type="button" hx-get="{% url 'create_division' %}" class="btn-outer" hx-target="#divisionForm" hx-swap="innerHTML">
        <span class="tk-objektiv btn-inner">
          Request New Division
        </span>
      </button>
    </div>
  </div>
</div>

{% endblock %}