{% extends 'base.html' %}

{% block title %}Locations{% endblock %}

{% block subheader %}
{% include '../subheader.html' with title="Locations" %}
{% endblock %}

{% block content %}
<div class="mt-24">
  <div class="flex flex-wrap md:flex-nowrap">
    <div class="text-cyan-400 justify-around md:flex-col md:flex-shrink-0 md:inline-flex md:justify-start">
      <a href="{% url 'all_areas' %}?is_active=True" class="mx-auto tk-objektiv uppercase hover:underline hover:text-amber-400">
        View Active
      </a>
      <a href="{% url 'all_areas' %}" class="tk-objektiv uppercase hover:underline hover:text-amber-400">
        View All
      </a>
    </div>
  {% if all_areas %}
  <div class="flex flex-wrap justify-around align-top">
    {% for area in all_areas %}
    <div class="flex flex-col flex-1 justify-between min-w-fit m-2 bg-slate-700 px-3 pt-5 pb-4 shadow-inner shadow-slate-900 ring-1 ring-slate-900/30 rounded-lg">
      <div class="">
      <p class="text-slate-200 text-base tk-objektiv-mk2 font-light uppercase">
        Area {{ area.number }}
      </p>
      <h5 class="text-amber-400 text-2xl leading-tight font-extrabold mb-6 tk-rustica">{{ area.name }}</h5>
        <p class="text-slate-200 text-sm tk-objektiv-mk2 font-light flex-wrap">
          {{ area.get_address|linebreaksbr }}
        </p>
      </div>
      <div class="mt-auto">
        <a href="{% url 'area' area.id %}">
            <span class="inline-flex pt-3 text-sm tk-objektiv-mk2 items-center text-slate-200 uppercase hover:underline hover:text-amber-400 after:content-['_↗']">
              Learn more 
            </span>
        </a>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="justify-center">
      <p>No establishments found.</p>
    </div>
    {% endif %}
  </div>
</div>
  
{% endblock %}